<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
			<!-- TODO replace with back button -->
		</ion-buttons>

		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content dir="{{ 'CURRENT_DIRECTION' | translate }}">
	<ion-spinner *ngIf="!order"></ion-spinner>
	<div *ngIf="order">
		<e-cu-order [order]="order" [showDetailsButton]="true"></e-cu-order>

		<!-- TODO - Return to the Order processing -->
		<div class="box order-process-buttons">
			<ion-row
				no-padding
				align-items-center
				class="header-container brand-light"
			>
				<ion-col class="col-12">
					<button
						class="button button-assertive border-color-brand col-100"
						[ngClass]="{'disabled': !order}"
						(click)="consultOrder(order)"
					>
						<span>
							{{ 'Order Status' | translate }}
						</span>
					</button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
