<!-- this files uses translations from ./language.i18n.json -->

<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>

		<ion-title>{{ 'LANGUAGE_VIEW.TITLE' | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="goBack()">
				<i class="fa fa-angle-left back-btn"></i>
				<span>{{ 'BACK' | translate }}</span>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content scroll="false">
	<ion-list>
		<ion-radio-group [(ngModel)]="language">
			<ion-item>
				<ion-label>{{ 'ENGLISH' | translate }}</ion-label>
				<ion-radio value="en-US"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>{{ 'FRENCH' | translate }}</ion-label>
				<ion-radio value="fr-FR"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>
