<ion-header class="bar-brand bar bar-header disable-user-behavior">
	<ion-title id="languageTitle">
		{{ 'LANGUAGE_VIEW.TITLE' | translate }}
	</ion-title>
	<div class="buttons buttons-left header-item">
		<span class="left-buttons">
			<div class="waves-effect waves-classic">
				<ion-menu-toggle class="button-icon">
					<ion-icon ios="ios-menu" md="md-menu"></ion-icon>
				</ion-menu-toggle>
			</div>
		</span>
	</div>
</ion-header>

<ion-content scroll="false" padding class="language-content">
	<div class="content">
		<ion-radio-group [(ngModel)]="language" (ionChange)="languageChange()">
			<ion-item>
				<ion-label>{{ 'LANGUAGE_VIEW.ENGLISH' | translate }}</ion-label>
				<ion-radio value="en-US"></ion-radio>
			</ion-item>

			<ion-item>
				<ion-label>{{ 'LANGUAGE_VIEW.FRENCH' | translate }}</ion-label>
				<ion-radio value="fr-FR"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</div>
</ion-content>
