<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>

		<ion-title>{{ 'TERMS_OF_USE_VIEW.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!--<e-cu-loaded-information [html]="useTermsHtml"></e-cu-loaded-information>-->
	<div id="content">
		<h3>
			<u> POLITIQUE DE CONFIDENTIALITE ET DE PROTECTION DES DONNEES</u>
		</h3>
		<p>
			Bell’Em, conformément à la législation en vigueur en matière de
			Protection des Données à Caractère Personnel, informe les
			Utilisateurs de sa plateforme (site internet et application mobile)
			sur la Politique de Confidentialité et de Protection des Données
			qu’elle appliquera lors du traitement des données personnelles que
			l’Utilisateur fournit volontairement en accédant au site internet
			www.bellem.cm ou à l’application mobile correspondante. En
			fournissant à Bell’Em, ou l’une de ses filiales, ses données à
			caractère personnelà travers les formulaires électroniques du Web,
			l’Utilisateur consent expressément à ce que Bell’Em, ou l’une de ses
			filiales, puisse traiter ces données dans les termes de cette clause
			de Politique de Confidentialité et de Protection des Données. Avant
			de s’enregistrer sur Bell’Em, ou l’une de ses filiales, les
			Utilisateurs doivent lire cette Politique de Confidentialité et de
			Protection des Données et l’accepter en cochant la case dans le
			formulaire d’enregistrement de Bell’Em. En s’enregistrant,
			l’Utilisateur devra fournir quelques données pour la création de son
			profil. D’une part, en ce qui concerne les Clients, ils devront
			fournir les données suivantes : prénom, nom, numéro de téléphone,
			adresse mail et éventuellement informations de carte bancaire. Quant
			aux agents Bell’Em, ils fourniront les données suivantes : prénom,
			nom, document d’identité, casier judiciaire, permis de conduire,
			adresse, numéro de téléphone, numéro de compte bancaire et
			photographie. De plus, Bell’Em, ou l’une de ses filiales, avec
			l’autorisation des Utilisateurs, collectera des données reliées à
			leur localisation, y compris la localisation géographique en temps
			réel de leur ordinateur ou dispositif mobile. Quand l’enregistrement
			est complété, tout Utilisateur pourra accéder à son profil et le
			compléter et/ou l’éditer selon ses préférences. L’Utilisateur pourra
			accéder et créer un compte à travers son profil Facebook.
			L’information et les données fournies par l’Utilisateur seront à
			tout moment disponibles sur son compte d’Utilisateur et pourront
			être modifiées par l’Utilisateur à travers l’option « Profil ».
			L’Utilisateur s’engage à saisir des données exactes et valides. De
			plus, il sera le seul responsable des dommages et préjudices dont
			Bell’Em, ou l’une de ses filiales, ou des tiers puissent souffrir
			suite au manque de véracité, inexactitude, manque de validité et
			d’authenticité des données fournies. Les données collectées par
			Bell’Em, ou l’une de ses filiales, seront exclusivement utilisées
			pour l’accomplissement de l’objet défini dans les Conditions
			Générales d’Utilisation du Web qui peuvent être consultées ici.
		</p>

		<h4>
			1. Législation applicable aux données personnelles des Utilisateurs
			(Protection des Données Personnelles)
		</h4>
		<p>
			Bell’Em manifeste son engagement afin de respecter la législation en
			vigueur à tout moment en matière de protection des données. Les
			Utilisateurs sont informés que les données à caractère personnel
			fournies sur le Web feront l’objet d’un traitement automatisé et
			intègreront les fichiers appartenant à Bell’Em SARL, le responsable
			du fichier étant Bell’Em SARL.
		</p>

		<h4><u> Informations de base sur la Protection des Données </u></h4>
		<p><b>Identité :</b> Bell’Em SARL</p>
		<p><b>Objectif :</b> Gestion des services demandés</p>
		<p>
			<b>Légitimité :</b> Inscription Utilisateur et Utilisation de la
			Plateforme
		</p>
		<p>
			<b>Droits :</b>Accéder, rectifier et supprimer les données, de même
			que d’autres droits, comme décrit dans les informations
			additionnelles
		</p>

		<h4><u>Information additionnelle</u></h4>
		<p>
			Les informations additionnelles et détaillées au sujet de la
			protection de données sont disponibles dans les sections à venir
			Conformément à la législation applicable, ci-après la Politique de
			Confidentialité que Bell’Em utilise dans le traitement des données
			des Utilisateurs enregistrés sur sa Plateforme.
		</p>

		<h4>2. Qui est responsable des Données Utilisateurs ?</h4>
		<p>
			Toute information personnelle fournie et collectée sur la Plateforme
			de Bell’Em sera principalement traitée par l’entreprise Bell’Em
			SARL, responsable du traitement, et par ses filiales, et toute autre
			société du groupe. L’entreprise a pour siège social Douala
			(Cameroun), JABA SPACE, Immeuble IPN, Bonapriso.
		</p>

		<h4><u>Responsable du traitement des données personnelles</u></h4>
		<p><b>Identité :</b> Bell’Em SARL</p>
		<p><b>Telephone :</b>(+237) 693076464/676506565</p>
		<p><b>Contact :</b> info@bellem.cm</p>

		<h4>3. Quelle est la légitimité du traitement de la Donnée ?</h4>
		<p>
			La base juridique pour le traitement de vos données est l'exécution
			du registre des Utilisateurs et l'exécution des services contractés
			par le même Utilisateur via la plateforme Bell’Em. Le consentement
			de l'Utilisateur est la base légitime du traitement des données de
			Bell’Em aux fins expliquées spécifiquement dans cette politique de
			confidentialité autre que la fourniture du service demandé.
		</p>

		<h4>
			4. Quelle information personnelle Bell’Em, ou l’une de ses filiales,
			collectent-ils au sujet de ses Utilisateurs?
		</h4>
		<p>
			La plateforme Bell’Em (qui inclut le site internet et l’application)
			est utilisée par les Clients, les agents Bell’Em et les partenaires.
			Les informations que Bell’Em reçoit de ses Utilisateurs sont
			collectées comme indiqué ci-dessous.
		</p>
		<p>a. Informations que l’Utilisateur transmet à Bell’Em directement</p>
		<p>
			Bell’Em récolte et garde des informations que l’Utilisateur
			introduit sur la plateforme Bell’Em ou que l’Utilisateur lui-même
			donne à Bell’Em telles que :
		</p>
		<p>
			- Données d’inscription: les informations que l’Utilisateur fournit
			à Bell’Em lors de la création du compte sur la plateforme Bell’Em :
			nom, prénom, adresse mail, numéro de téléphone
		</p>
		<p>
			- Données provenant du profil utilisateur : les informations que les
			Utilisateurs ajoutent sur la plateforme dans le but d’utiliser les
			services fournis par Bell’Em comme l’adresse de l’Utilisateur.
			L’Utilisateur peut voir et modifier les données personnelles de son
			profil quand il le souhaite. Bell’Em ne stocke pas les données de la
			carte de crédit de l’Utilisateur ou de son compte mobile money, mais
			elles sont envoyées à un fournisseur de services de paiement
			électronique autorisé, qui stockera les données pour faciliter le
			processus de paiement à l'Utilisateur et le gérera pour le compte de
			Bell’Em. L'Utilisateur peut, à tout moment, supprimer les données de
			ses cartes liées à son compte. Avec cette action, le fournisseur de
			services procédera à la suppression des données et il sera
			nécessaire de les entrer à nouveau ou de les sélectionner afin de
			passer de nouvelles commandes via la Plateforme.
		</p>
		<p>
			- Données provenant du compte utilisateur : Les informations des
			commandes faites par l’Utilisateur, ainsi que les évaluations et/ou
			commentaires que l’Utilisateur faits sur ses commandes.
		</p>
		<p>
			- Informations supplémentaires que l’Utilisateur veut partager : Les
			informations que l’Utilisateur fournit à Bell’Em à d’autres fins.
			Par exemple, une photographie de lui ou l’adresse de facturation,
			dans le cas où l’Utilisateur demande de recevoir des factures. Ou
			encore la signature que l’Utilisateur appose sur le terminal de
			l’agent Bell’Em à la fin de sa commande.
		</p>
		<p>b. Information que l’Utilisateur transmet à Bell’Em indirectement</p>
		<p>
			- Données d’utilisation : Bell’Em récolte les données d’utilisation
			à propos de l’utilisateur quand il/elle interagit avec les services
			de Bell’Em.
		</p>
		<p>
			- Utilisation et appareil de données : Bell’Em récolte les données à
			partir des appareils que l’utilisateur utilise pour accéder au
			service de Bell’Em :
		</p>
		<ul>
			<li>
				L’adresse IP que l’utilisateur utilise pour se connecter à
				internet avec son ordinateur ou téléphone.
			</li>
			<li>
				Les informations à propos de l’ordinateur ou du téléphone de
				l’utilisateur, telles que sa connexion internet, type de
				navigateur, version et système d’exploitation, et type
				d’appareil.
			</li>
			<li>
				Le parcours complet de navigation des Uniform Resource Locators
				(URLs), dont la date et l’heure.
			</li>
			<li>
				Le nombre de cookie de l’utilisateur, voir Politique de Cookies.
			</li>
			<li>
				L’historique de navigation et les préférences des utilisateurs.
			</li>
		</ul>
		<p>
			- Les données de base : Si l’utilisateur arrive sur le site de
			Bell’Em à partir d’une source externe (tel qu’un lien sur un autre
			site ou dans un email), Bell’Em enregistre les informations sur la
			source qui a renvoyé l’utilisateur sur le site de Bell’Em.
		</p>
		<p>
			- Données issues de la gestion des incidents : si l'Utilisateur
			s’adresse à la Plateforme Bell’Em via l’adresse mail info@bellem.cm,
			via les formulaires de contacts présents sur le site ou via le
			téléphone Bell’Em, Bell’Em collectera les messages reçus dans le
			format utilisé par l'Utilisateur et pourra les utiliser et les
			stocker pour gérer les incidents présents ou futurs.
		</p>
		<p>
			- Données dérivées des "Cookies" : Bell’Em utilise ses propres
			cookies et ceux de tierces parties pour faciliter la navigation de
			ses Utilisateurs et à des fins statistiques.
		</p>
		<p>
			- Informations provenant des tierces parties: Bell’Em peut
			recueillir des informations personnelles ou données provenant des
			tierces parties si l’Utilisateur donne sa permission aux tierces
			parties de partager ces informations avec nous. Par exemple, dans le
			cas où l’Utilisateur crée un compte à travers Facebook, Facebook
			pourrait nous fournir des données personnelles sur cet Utilisateur
			dans le cas où il les a sur son profil Facebook (nom, genre, âge,
			…).
		</p>
		<p>
			- Données de géolocalisation: Dans le cas où les Utilisateurs
			l’autorisent, Bell’Em récupérera les données liées à leur position,
			dont la localisation géographique en temps réel de l’ordinateur ou
			du téléphone portable des Utilisateurs.
		</p>

		<h4>5. Utilisation et conservation des données collectées</h4>
		<p>
			a. Pourquoi Bell’Em collecte-t-il des informations au sujet de ses
			Utilisateurs ?
		</p>
		<p>
			- Bell’Em utilise les informations collectées au sujet de ses
			Utilisateurs dans le but d’effectuer les services demandées à
			travers la Plateforme Bell’Em, selon le mécanisme décrit dans les
			conditions d’utilisation.
		</p>
		<p>
			- Bell’Em utilise aussi les informations pour étudier et pour
			analyser des pistes d'amélioration des services fournis. En
			particulier, Bell’Em pourra utiliser les données afin de veiller à
			la bonne utilisation des produits sollicités dans sa plateforme.
		</p>
		<p>
			- Bell’Em peut utiliser les informations des Utilisateurs à des fins
			internes afin de garantir que les services fournis sont sécurisés et
			opérationnels (ex : tests, prévention des fraudes, des activités
			abusives, de l’hameçonnage).
		</p>
		<p>
			- Bell’Em réalise des analyses statistiques des informations
			collectées afin d’étudier les comportements des Utilisateurs et les
			tendances et de mieux comprendre l’usage des services par les
			Utilisateurs. Ainsi, Bell’Em peut utiliser les données fournies dans
			le but de gérer les incidents pouvant survenir dans la fourniture de
			services. Bell’Em se réserve le droit de stocker sur ses propres
			serveurs ou ceux de tiers les communications dans tout format qu'il
			a reçu des Utilisateurs.
		</p>
		<p>
			- Bell’Em est susceptible d’utiliser les données personnelles
			fournies par l’Utilisateur dans le but de le contacter par email
			et/ou par SMS pour l’informer sur le fonctionnement du service.
			Bell’Em envoie des messages sur le portable de l’Utilisateur afin de
			l’informer sur l’avancement de sa commande, et une fois la commande
			livrée, Bell’Em envoie un mail à l’Utilisateur incluant un
			récapitulatif de la commande et un reçu indiquant le prix de la
			commande. En s’enregistrant sur la Plateforme, l’Utilisateur accepte
			cette politique de confidentialité et autorise par conséquent
			Bell’Em a lui envoyer ces deux communications.
		</p>
		<p>
			- Avec l’accord de l’Utilisateur, Bell’Em est susceptible d’envoyer
			des messages promotionnels et/ou des offres concernant le service
			proposé à l’adresse mail de l’Utilisateur. Si un Utilisateur de
			Bell’Em ne souhaite pas recevoir de telles informations et/ou
			communications commerciales, il peut à tout moment se désabonner en
			cliquant sur le lien "se désabonner" dans l’e-mail; par conséquent,
			Bell’Em arrêtera immédiatement d’envoyer ce type d’informations.
		</p>
		<p>
			- En outre, Bell’Em, avec le consentement préalable de
			l’Utilisateur, pourra utiliser l’adresse de livraison indiqué par
			l’Utilisateur lors de sa commande, dans le but de faire des
			activités promotionnelles pour la livraison d’échantillons ou
			produits gratuits en même temps que la livraison de la commande.
		</p>
		<p>
			- Comme expliqué précédemment, si vous connectez votre compte
			Bell’Em à votre compte sur des réseaux sociaux ou une tiers
			plateforme, Bell’Em est susceptible d’utiliser les informations
			mises à disposition par l’Utilisateur sur les réseaux sociaux en
			question ou la tiers plateforme et que les réseaux sociaux en
			question ou la tiers plateforme a mis à disposition de Bell’Em,
			conformément aux paramètres de confidentialité et aux autres
			paramètres applicables à votre compte sur les réseaux sociaux en
			question ou la tiers plateforme.
		</p>
		<p>
			- Le Service est basé à Douala. Cependant, les données
			d’Utilisateurs de Bell’Em sont stockées sur les serveurs de Strato
			contractés par Bell’Em. Bell’Em déclare que ces serveurs sont
			conformes aux lois applicables à la Protection des Données et aux
			engagements énoncés dans la présente Politique de Confidentialité
			des Données. Les Utilisateurs de Bell’Em, autorisent expressément
			les filiales de Bell’Em à accéder aux données personnelles depuis
			quelque territoire que ce soit afin de fournir le service sollicité
			par l’Utilisateur.
		</p>
		<p>
			- Les Données utilisateurs ne sont pas divulguées a un tiers parti,
			a l’exception des cas suivants : (i) pour fournir les services
			demandés par l’Utilisateur, Bell’Em est susceptible de collaborer
			avec des tiers partis si c’est strictement nécessaire, (ii) lorsque
			Bell’Em obtient un consentement et une permission express de
			l’Utilisateur, (iii) lorsque ces données sont requises par une
			autorité compétente pour l’exercice de ses fonctions (par exemple,
			pour enquêter, prévenir ou prendre des mesures concernant des
			activités illégales) comme exigé par la Loi.
		</p>
		<p>
			- Si l’actionnariat de Bell’Em change, ou si la totalité ou la
			presque totalité des actifs de Bell’Em sont rachetés par un tiers,
			les Utilisateurs consentent expressément au transfert des
			informations utilisateurs par Bell’Em au nouveau propriétaire ou à
			l’ayant-cause, de façon à ce que Bell’Em puisse continuer à fournir
			les services demandés. Bell’Em déclare qu’elle informera les
			instances compétentes d’un tel transfert de données dans ce cas- là.
		</p>
		<p>
			- Bell’Em n’utilise pas les Données utilisateurs à d’autres fins que
			celles décrites dans la présente Politique de Confidentialité et
			dans les Conditions d’Utilisation.
		</p>
		<p>
			b. Combien de temps Bell’Em conservera-t-il les données? Les données
			personnelles fournies seront conservées tant que l'Utilisateur ne
			demande pas sa suppression pour une période de 24 mois depuis sa
			dernière interaction avec la Plateforme. En cas de retrait du
			consentement ou d'opposition au traitement, les données seront
			bloquées et cesseront d'être traitées, et seront conservées pendant
			une période de 4 ans afin de pouvoir réclamer ou nous défendre
			contre d'éventuelles réclamations.
		</p>

		<h4>6. Bell’Em partage-t-il les informations en sa possession ?</h4>
		<p>
			Comme indiqué dans la section précédente, les données personnelles
			collectées par Bell’Em sont exclusivement utilisées à des fins
			d’exécution du service telles que définies dans les "Conditions
			d’Utilisation" Dans le cadre de l'exécution du service et du
			maintien de sa qualité, Bell’Em peut partager certaines données de
			l’Utilisateur avec :
		</p>
		<p>
			- Les agents Bell’Em : les agents Bell’Em qui exécutent la
			prestation, participent à l’envoi des colis, exécutent des commandes
			et/ou la réalisation des livraisons, n’auront accès aux informations
			personnelles de l’Utilisateur requises, que dans le cadre de
			l’exécution de leurs missions. Les agents Bell’Em s’engagent à
			traiter les informations personnelles en accord avec la présente
			Déclaration sur la Protection des Données Personnelles et la
			législation en vigueur.
		</p>
		<p>
			- Les commerçants ou prestataires de service chez qui le Clients
			envoie les agents Bell’Em. L’Utilisateur est susceptible de recevoir
			des courriers électroniques ou SMS de Bell’Em et/ou du commerçant
			afin de confirmer la commande, organiser le retour des produits ou
			solliciter l’avis de l’Utilisateur sur le service proposé ou
			recevoir un résume de la commande. Les magasins ne pourront avoir
			accès et ne pourront demander des informations relatives aux cartes
			de crédit des Utilisateurs de Bell’Em. La présente Déclaration sur
			la Protection des Données Personnelles ne s’applique pas aux
			informations fournies par les Utilisateurs aux commerces en dehors
			du cadre de sa relation avec Bell’Em.
		</p>
		<p>
			- Pharmacies: Bell’Em pourra fournir le nom et le numéro de
			téléphone des Utilisateurs aux pharmaciens qui fournissent les
			produits aux Utilisateurs, à condition qu’ils l’autorisent
			clairement, afin que le conseil du pharmacien soit en accord avec la
			législation en vigueur en la matière.
		</p>
		<p>
			- Bell’Em garantit que tous ses partenaires commerciaux et
			techniques, fournisseurs ou autres tierces parties prenantes, sont
			contractuellement tenues de traiter les informations partagées avec
			eux par Bell’Em en conformité avec les indications données par
			Bell’Em, la présente Déclaration sur la Protection des Données
			Personnelles, et la législation en vigueur.
		</p>
		<p>
			- Entreprises de sécurité et Corps et Organes de Sécurité : Bell’Em
			peut partager les informations relatives aux comptes personnels de
			ses Utilisateurs, lorsqu’il est avéré que le partage d’information
			est nécessaire à des fins de conformité avec la Loi, d’application
			des "Conditions d’Utilisation", pour protéger les droits et la
			propriété de Bell’Em, ses Utilisateurs ou des tierces parties. Sont
			notamment concernées les sociétés, les organisations ou les Corps et
			Organes de Sécurité dont l’objet est la prévention des fraudes et la
			réduction des risques de crédit.
		</p>
		<p>
			- Passerelle de paiement : Bell’Em ne stocke pas des donnés de
			cartes bancaires des Utilisateurs, ni des données qui pourraient
			permettre l’identification du moyen de paiement avec l’identité de
			titulaire. Néanmoins, les données de la carte bancaire (nom et date
			de fin de validité) sont stockées par le fournisseur de services de
			paiements choisis par Bell’Em. Si l'Utilisateur demande à supprimer
			les données correspondant aux moyens de paiement qu'il a saisis dans
			son profil, le prestataire de services de paiement supprimera ces
			données de ses serveurs.
		</p>
		<p>
			- Bell’Em peut partager des informations avec les autorités
			publiques et/ou des tierces parties à propos de procédures en cours
			visant à investiguer tout type d’activités illicites présumées.
		</p>
		<p>
			- Les filiales de Bell’Em : Afin de fournir les services de Bell’Em,
			en fonction de la zone géographique à partir de laquelle les
			Utilisateurs demandent des services, certaines données personnelles
			des Utilisateurs peuvent être transférées aux filiales de Bell’Em.
			Les Utilisateurs sont informés que lors de leur inscription sur la
			Plateforme depuis n'importe quel pays dans lequel Bell’Em est
			présent, leurs données seront stockées dans la base de données
			Bell’Em.
		</p>
		<p>
			- Services du centre d'appel et gestion des incidents: Pour offrir
			un service client et un centre d'appel, et dans le cadre des actions
			visant à mesurer le degré de satisfaction des Utilisateurs et la
			fourniture de services de support administratif, Bell’Em peut
			communiquer les données des Utilisateurs aux entreprises situées
			dans des pays tiers, pour autant qu'elles soient autorisées.
		</p>
		<p>
			- Avec l’accord préalable de l’Utilisateur : outre les cas cités
			plus haut, Bell’Em informera l’Utilisateur si certaines de ses
			informations sont partagées avec les partenaires commerciaux de
			Bell’Em dans un but autre que ceux expressément cités dans le
			présent document. L’Utilisateur sera notifié afin qu’il/elle puisse
			s’opposer au partage de ses informations personnelles.
		</p>
		<p>
			- Avec l’accord de l’Utilisateur également : à des tierces parties
			non partenaires commerciaux mais ayant des liens commerciaux avec
			Bell’Em, à condition qu’existe une autorisation préalable, expresse
			et claire, de l’Utilisateur.
		</p>
		<p>
			Aucun de ces transferts relatifs aux données n'inclut la vente, la
			location, le partage ou assimilé, des données personnelles à des
			fins commerciales, d’une manière contraire aux engagements de la
			présente Déclaration sur la Protection des Données Personnelles.
		</p>

		<h4>7. Quels droits ont les Utilisateurs</h4>
		<p>
			a. Droit de retirer votre consentement À tout moment, l'Utilisateur
			peut retirer son consentement pour le traitement des données par
			Bell’Em. Pour son retrait, il suffira à l'Utilisateur d’envoyer un
			mail à info@bellem.cm. Le retrait du consentement peut être effectué
			à tout moment par la partie intéressée. Les Utilisateurs acceptent
			que le retrait du consentement implique que Bell’Em ne puisse pas
			fournir les services de sa Plateforme. Quelles sont les informations
			auxquelles les Utilisateurs ont accès? Bell’Em donne accès à
			l’Utilisateur à un grand nombre d’informations relatives à son
			compte et ses commandes passées sur la Plateforme de telle sorte que
			celui-ci puisse les consulter, et dans certains cas, les modifier.
			Tous les Utilisateurs devraient avoir accès à leur profil et pouvoir
			ajouter ou modifier les informations, dans les cas qu’ils jugent
			appropriées. Tout Utilisateur peut accéder à la plateforme et créer
			un compte à travers son profil Facebook. Les informations et données
			alors fournies par l’Utilisateur sont en ce sens disponibles de
			manière permanente dans son compte utilisateur et peuvent être
			amenées à être modifiées en ayant recours à l’option de modification
			du profil. b. Droits d’opposition, d’accès, de rectification et de
			suppression des Données des Membres collectées par la Société
			L’Utilisateur a, à tout moment, la faculté de (d’):
		</p>
		<ul>
			<li>
				s'opposer au traitement de ses données à caractère personnel
				dans le cadre des Services fournis par Bell’Em ;
			</li>
			<li>
				s'opposer à la communication des données à caractère personnel
				le concernant à des tiers ;
			</li>
			<li>
				accéder à l'ensemble de ses données à caractère personnel
				traitées dans le cadre des Services fournis par Bell’Em;
			</li>
			<li>
				rectifier, mettre à jour et supprimer ses données à caractère
				personnel traitées dans le cadre des Services fournis par
				Bell’Em.
			</li>
		</ul>
		<p>
			L'exercice de ces droits est très personnel, il sera donc nécessaire
			pour la partie touchée de prouver son identité. L'exercice de ces
			droits doit être fait par écrit signé par le propriétaire des
			données, en indiquant son adresse, en joignant une copie de sa pièce
			d'identité nationale ou d'un autre document à l'appui, à Bell’Em
			SARL aux adresses indiquées dans ce présent document. Quelles
			options ont les Utilisateurs ? Comme mentionné dans la section
			précédente, si l’Utilisateur souhaite ne plus recevoir d’emails de
			la part de Bell’Em, ce dernier peut ajuster ses préférences
			d’abonnement dans le pied de page de l’email en question en cliquant
			sur "Se désabonner". De plus, les Utilisateurs peuvent choisir de ne
			pas partager leur position avec Bell’Em. La plupart des appareils
			mobiles offrent à l’Utilisateur la possibilité de désactiver les
			services de géolocalisation. Cette option est communément accessible
			dans le menu de configuration de l’appareil. En cas de doute sur la
			procédure à suivre par les Utilisateurs pour désactiver cette
			fonction, il est recommandé par Bell’Em de prendre contact avec le
			fabricant de l’appareil ou l’opérateur télécom. En dehors de
			l'exercice des droits décrits ci-dessus, les Utilisateurs ont le
			droit de soumettre une réclamation à l'autorité de contrôle pour la
			connaissance de leur réclamation.
		</p>

		<h4>8. La protection des données de nos Utilisateurs</h4>
		<p>
			Bell’Em a pris toutes les mesures nécessaire recommandées par les
			instances compétentes pour garantir un niveau de protection adéquat,
			en accord avec la nature des données personnelles et les
			circonstances de leur traitement, dans le but de sauvegarder leur
			intégrité, dans la limite de la technologie actuelle. Les
			informations personnelles fournies à Bell’Em ne seront cédées à
			aucune tierce partie sans l’accord préalable de leur propriétaire.
		</p>

		<h4>9. La sécurité de votre mot de passe</h4>
		<p>
			Bell’Em prend toutes précautions utiles pour assurer le stockage
			sécurisé de votre mot de passe. Toutefois, la sécurité de votre mot
			de passe dépend aussi de sa conception. Aussi, nous vous rappelons
			qu’il est préférable qu’un bon mot de passe soit suffisamment long,
			composé d’au moins 3 types de caractères différents (lettre,
			chiffre, caractère spéciaux) et ne doit pas avoir de lien avec son
			détenteur. Des moyens mnémotechniques permettent de créer des mots
			de passe complexes, tels que:
		</p>
		<ul>
			<li>
				ne conserver que les premières lettres des mots d’une phrase ;
				par exemple, la phrase « Et si vous aviez désormais le temps..»
				correspond au mot de passe ESvadLT.
			</li>
			<li>en mettant une majuscule si le mot est un nom (ex : Temps)</li>
			<li>en gardant des signes de ponctuation (ex : ’)</li>
			<li>
				en exprimant les nombres à l’aide des chiffres de 0 à 9 (ex : Un
				->1).
			</li>
		</ul>

		<h4>10. A propos des cookies</h4>
		<p>
			Ce site internet utilise ses propres cookies, ainsi que ceux de
			tierces parties, pour faciliter l’expérience de navigation.
		</p>

		<h4>11. Notifications et modifications</h4>
		<p>
			Comme déclaré précédemment, tous les Utilisateurs sont dans la
			capacité d’exercer leurs droits d’accéder, rectifier, annuler ou
			faire opposition à tout traitement de leurs données personnelles.
			Les Utilisateurs peuvent demander de plus amples détails sur la
			présente Déclaration par mail à info@bellem.cm. Du fait du caractère
			changeant de l’activité Bell’Em, notre Déclaration sur la Protection
			des Données Personnelles, l’utilisation des Cookies et les
			Conditions d’Utilisation changent en conséquence. Sauf mention
			contraire de l’Utilisateur, Bell’Em pourra envoyer par email, des
			notifications à celui-ci en lien avec d’importants changements et
			modifications qui interviendraient sur ces documents. Néanmoins,
			Bell’Em n’apportera aucun changement considérable à ses déclarations
			et pratiques de sécurité, pouvant affecter le degré de protection
			des informations clients qui auraient pu être collectées dans le
			passé, sans en avertir et obtenir le consentement des Utilisateurs
			concernés.
		</p>
	</div>
</ion-content>
