ion-title {
	text-align: center;
}

ion-item-divider {
	visibility: visible;
	ion-icon {
		margin-right: 10px;
	}
}

ion-item {
	visibility: visible;
	ion-icon {
		margin-right: 15px;
	}
}

ion-toolbar {
	color: #3a53a4;
}
