<div class="order-product">
	<div class="container">
		<div class="test">
			<section class="product-image">
				<img *ngIf="image" [src]="image.url" [ngClass]="imageClass" />
			</section>

			<section class="product-content">
				<div class="title">
					<span class="text"> {{ title }} </span>&nbsp;&nbsp;
					<small class="qty rounded"> {{ count }}</small>
				</div>

				<div class="description">{{ description }}</div>

				<div class="details" *ngIf="showInsideDetailsButton">
					<a href="#">{{ 'DELIVERY_VIEW.DETAILS' | translate }}</a>
				</div>
			</section>
		</div>
		<!--
		<div class="details-outer" *ngIf="showOutsideDetailsButton">
			<a [ngClass]="imageClass" href="#">{{
				'DELIVERY_VIEW.DETAILS' | translate
			}}</a>
		</div>
		<section class="products-price">${{ price }}</section>
	-->
	</div>
</div>
