ion-menu {
	ion-title {
		text-align: center;
	}

	ion-item-divider {
		visibility: visible;
		ion-icon {
			margin-right: 10px;
		}
	}

	ion-item {
		visibility: visible;
		ion-icon {
			color: black;
			margin-right: 15px;
		}
	}

	ion-header {
		position: relative;
		background-color: #2a2c39;
	}
}
